[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pytz = "*"
sqlparse = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
